@media (max-width: 768px) {
  





  .body{
    padding: 30px 10px;
    width: 1000px;
    
      & header{
        display: flex;
        justify-content: space-between;
        & ul{
          display: none;
        }
        & .burger{
          display: block;
        }

        & button{
          margin-left: 50px;
        }
      }

      
    
      & .main-content-div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    
    
    
       & .image-container{
        display: none;
       }
    
       & .image-container-responsive{
        display: block;
        & img{
          width: 430px;
          height: 310px;
        }
       }
      }
    
      & .easy-section{
        display: flex;
        justify-content: center;
        & ul{
          display: flex;
          width: 445px;
          flex-wrap: wrap;
          animation: slide 6s linear infinite; 

        }
      }
    
      & .normal-section{
        & div{
          display: flex;
          flex-direction: column;
          text-align: center;
        }
      }

      & .hard-section{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
      }

      & .easy-section2{
        height: 370px;
        display: flex;
        justify-content: center;


        & .div{
          margin: 0 auto;
        }
        & img{
          display: none;
        }

      }

      & .normal-section2{
        & div{
          display: flex;
          flex-direction: column;
          text-align: center;
        }
      }

      & .extreme-section{
        position: relative;
        right: 30px;
      }

      & .normal-section3{
        & div{
          display: flex;
          flex-direction: column;
          text-align: center;
          
        }
      }

      & .impossible-section-2{
        display: flex;
        justify-content: center;
        align-items: center;


        & .flex-container{
          display: flex;
          flex-direction: column;
          gap: 30px;
        }

        & button{
          display: none;
        }


      }

      & .impossible-section-3{
        width: 1080px;
        display: flex;
        justify-content: center;
      }
      
      & .forms-section{
        width: 1090px;
        height:px;
        display: flex;
        justify-content: center;
        & img{
          display: none;
        }
      }


      & footer{
        width: 1150px;

        & img-sssppan{
          position: relative;
          right: 50px;
        }
      }
    }
    // body ends in purple
}
// media ends in yellow




