@media (max-width: 768px) {
  .body {
    padding: 30px 10px;
    width: 150%;
  }
  .body header {
    display: flex;
    justify-content: space-between;
  }
  .body header ul {
    display: none;
  }
  .body header .burger {
    display: block;
  }
  .body header button {
    margin-left: 50px;
  }
  .body .main-content-div {
    display: flex;
    margin-bottom: 60px;
  }
  .body .main-content-div .image-container {
    display: none;
  }
  .body .main-content-div .image-container-responsive {
    display: block;
  }
  .body .main-content-div .image-container-responsive img {
    width: 430px;
    height: 310px;
  }
  .body .easy-section ul {
    display: flex;
    width: 445px;
    flex-wrap: wrap;
    animation: slide 6s linear infinite;
  }
  .body .normal-section {
    display: flex;
    justify-content: flex-start;
  }
  .body .normal-section div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .body .hard-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .body .easy-section2 {
    display: flex;
    justify-content: flex-start;
    height: 370px;
    width: 500px;
  }
  .body .easy-section2 .div {
    margin: 0 auto;
  }
  .body .easy-section2 img {
    display: none;
  }
  .body .normal-section2 {
    display: flex;
    justify-content: flex-start;
  }
  .body .normal-section2 div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .body .extreme-section {
    width: 500px;
    position: relative;
    right: 30px;
  }
  .body .normal-section3 {
    display: flex;
    justify-content: flex-start;
  }
  .body .normal-section3 div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .body .normal-section3 div .team {
    width: 500px;
  }
  .body .impossible-section-2 {
    display: flex;
    align-items: flex-start;
  }
  .body .impossible-section-2 .flex-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .body .impossible-section-2 button {
    display: none;
  }
  .body .impossible-section-3 {
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
  }
  .body .impossible-section-3 .non-rotate {
    position: relative;
    width: 350px;
    height: 250px;
  }
  .body .impossible-section {
    width: 500px;
  }
  .body .forms-section {
    width: 390px;
    height: 540px;
    display: flex;
    justify-content: flex-start;
  }
  .body .forms-section button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 100px;
    width: 390px;
    height: 65px;
  }
  .body .forms-section .label-flex {
    display: flex;
    justify-content: flex-start;
    position: relative;
    right: 50px;
  }
  .body .forms-section input {
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
  }
  .body .forms-section .big {
    width: 200px;
  }
  .body .forms-section img {
    display: none;
  }
  .body footer {
    width: 430px;
    height: 600px;
  }
  .body footer .omg {
    display: block;
  }
  .body footer .main-footer {
    display: block;
  }
  .body footer .main-footer .form {
    display: none;
  }
  .body footer ul {
    display: none;
  }
  .body footer span {
    display: none;
  }
}/*# sourceMappingURL=responsive.css.map */